article{
    display: inline-block;
    width: 300px;
    transition: box-shadow 0.2s ease-in-out;
    margin: 40px 10px 0 10px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

article > img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

article > p{
    margin: 10px 15px;
    font-size: 14px;
}

article:hover{
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}