body{
    box-sizing: border-box;
}
html *{
    box-sizing: inherit;
}

header{
    background-color: white;
    padding: 25px;
    box-shadow: 4px 5px 10px rgb(1, green, blue);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.3);
    display: grid;
}
header form{
    overflow: hidden;
    display: flex;
    justify-content: center
}
header input{
    max-width: 1000px;
    min-width: 200px;
    padding: 10px;
    border: none;
    color: rgb(101, 101, 101);
    border-bottom: 1px solid #ccc;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    outline: 0;
}
